@mixin font($font-family, $font-size, $font-weight, $line-height, $color) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $color;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h1 {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.container2 {
    max-width: 920px;
    margin: 0 auto;
}

.container3 {
    max-width: 1095px;
    margin: 0 auto;
}

//header
header {
    width: 100%;
    height: 100%;
    background-image: url(/img/Background.jpg);
    background-size: contain;
    background-position: 50% -5%;
    background-repeat: no-repeat;

    nav {
        padding-top: 16px;
        margin-bottom: 100px;

        .nav__navbar {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: flex-end;
            height: 40px;

            .nav__list {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                width: 570px;

                li {

                    a {
                        @include font('Manrope', 14px, 700, 20px, #18191F);
                    }
                }
                li:hover{
                    opacity: 0.6;
                    transition: .2s ease-in;
                }
            }

            .nav__mobileApp {
                a:nth-child(2) {
                    margin-left: 12px;
                }
                a:hover{
                    opacity: 0.6;
                    transition: .2s ease-in;
                }

            }
        }
    }

    main {


        section {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            .main__leftBox {
                h1 {
                    @include font('Manrope', 72px, 800, 98px, #18191F);
                }

                .main__button {
                    @include font('Manrope', 20px, 700, 30px, #FFFFFF);
                    background-color: #8C30F5;
                    border: none;
                    padding: 16px 41px;
                    border-radius: 10px;
                    margin-top: 32px;
                }
                .main__button:hover{
                    opacity: 0.6;
                    transition: .2s ease-in;
                    cursor: pointer;
                }
            }

            .main__mobile {
                width: 320px;
                height: 640px;
                background: url('/img/Phone Mockup.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                margin-bottom: 50px;
            }
        }

        .main__navComp {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            max-width: 890px;
            margin: 0 auto;
            margin-bottom: 20px;
            padding: 42px 0;
            border-top: 1px solid rgba($color: #abc2e4, $alpha: 0.4);
            border-bottom: 1px solid rgba($color: #abc2e4, $alpha: 0.4);
            li:hover{
                opacity: 0.8;
                transition: .2s ease-in;
            }
        }
    }
}

//realStories
.realStories {
    background-color: #D5FAFC;
    width: 100%;
    padding-bottom: 78px;
    margin-bottom: 75px;

    .container2 {
        display: flex;
        flex-flow: row wrap;


        .realStories__box1 {
            order: 1;

            .realStories__h1 {
                @include font('Manrope', 48px, 800, 64px, #18191F);
                margin-top: 113px;
                padding-right: 40px;
                margin-right: 29px;
            }

            .realStories__p {
                @include font('Manrope', 18px, 400, 32px, #18191F);
            }
        }

        .realStories__hubspot {
            max-width: 350px;
            background-color: #fff;
            border-radius: 7px;
            order: 3;
            margin-right: 30px;
            margin-left: 93px;
            margin-top: -250px;
            height: 470px;

            img {
                margin-left: 32px;
                margin-top: 32px;
                margin-bottom: 37px;
            }

            .realStories__content {
                max-width: 254px;
                margin-right: 32px;
                margin-left: 64px;
                position: relative;

                .realStories__paragraph {
                    margin-bottom: 35px;
                    @include font('Manrope', 18px, 400, 32px, #18191F);

                }

                .realStories__paragraph::before {
                    content: url('/img/Page 1.svg');
                    position: absolute;
                    left: -28px;
                }

                h6 {
                    @include font('Manrope', 18px, 800, 28px, #18191F);
                }

                .realStories__p {
                    @include font('Manrope', 14px, 400, 24px, #969BAB);
                    // padding-bottom: 35px;
                }
            }


        }
        .realStories__hubspot:hover, 
        .realStories__airbnb:hover,
        .realStories__bookmyshow:hover
        {
            opacity: 0.8;
            transition: .2s ease-in;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .realStories__airbnb {
            max-width: 445px;
            background-color: #fff;
            border-radius: 7px;
            order: 2;
            margin-top: 164px;
            margin-bottom: 40px;

            img {
                margin-left: 32px;
                margin-top: 32px;
                margin-bottom: 37px;
            }

            .realStories__content {
                max-width: 350px;
                margin-right: 32px;
                margin-left: 64px;
                position: relative;

                .realStories__paragraph {
                    @include font('Manrope', 18px, 400, 32px, #18191F);
                    margin-bottom: 35px;
                }

                .realStories__paragraph::before {
                    content: url('/img/Page 1.svg');
                    position: absolute;
                    left: -28px;
                }

                h6 {
                    @include font('Manrope', 18px, 800, 28px, #18191F);
                }

                .realStories__p {
                    @include font('Manrope', 14px, 400, 24px, #969BAB);
                    padding-bottom: 35px;
                }
            }
        }

        .realStories__bookmyshow {
            max-width: 350px;
            background-color: #fff;
            border-radius: 7px;
            order: 4;

            img {
                margin-left: 32px;
                margin-top: 32px;
                margin-bottom: 37px;
            }

            .realStories__content {
                max-width: 254px;
                margin-right: 32px;
                margin-left: 64px;
                position: relative;

                .realStories__paragraph {
                    margin-bottom: 35px;
                    @include font('Manrope', 18px, 400, 32px, #18191F);
                }

                .realStories__paragraph::before {
                    content: url('/img/Page 1.svg');
                    position: absolute;
                    left: -28px;
                }

                h6 {
                    @include font('Manrope', 18px, 800, 28px, #18191F);
                }

                .realStories__p {
                    @include font('Manrope', 14px, 400, 24px, #969BAB);
                    padding-bottom: 35px;
                }
            }
        }
    }
}

//tailorMade
.tailorMade {
    margin-bottom: 80px;

    .tailorMade__h1 {
        @include font('Manrope', 48px, 800, 64px, #18191F);
        text-align: center;
        margin-bottom: 8px;
    }

    .tailorMade__p {
        @include font('Manrope', 18px, 400, 32px, #18191F);
        text-align: center;
        margin-bottom: 50px;

    }

    .tailorMade__boxes {
        display: flex;
        flex-flow: row wrap;

        .tailorMade__box {
            text-align: center;
            max-width: 340px;
            margin-bottom: 64px;
            margin-right: 30px;
            img{
                margin-bottom: 24px;
            }
            h5{
                @include font('Manrope', 24px, 600, 32px,#18191F );
                margin-bottom: 8px;
            }
            p{
                @include font('Manrope', 16px, 400, 26px, #18191F);
            }
        }

        .tailorMade__box:nth-child(3) {
            margin-right: 0;
        }

        .tailorMade__box:nth-child(6) {
            margin-right: 0;
        }
    }

}

//ourYears
.ourYears {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 64px;
    .ourYears__box1 {
        max-width: 540px;
        margin-bottom: 80px;
        h2 {
            @include font('Manrope', 48px, 800, 64px, #18191F);
        }

        p {
            @include font('Manrope', 18px, 400, 32px, #18191F);
        }
    }
    .ourYears__box2{
        display: flex;
        flex-flow: row wrap;
        max-width: 510px;
        margin-bottom: 80px;
        .ourYears__box{
            min-width: 255px;
            img{
                // display: inline;
                float: left;
            }
            .ourYears__num{
                @include font('Manrope', 28px, 800, 40px, #18191F );
                // display: inline;
                float: left;
                margin-bottom: 10px;
            }
            .ourYears__p{
                @include font('Manrope', 16px, 400, 26px, #18191F );
                // display: inline;
                float: left;
            }
        }
    }
}
//headline
.headline{
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 128px;
    .headline__img{
        width: 540px;
        height: 540px;
        background-image: url('/img/PhoneMockup.png');
        background-size: cover;
        background-position: center;
        margin-right: 30px;
    }
    .headline__info{
        max-width: 460px;
        padding-left: 48px;
        padding-right: 48px;
        .headline__h3{
            @include font('Manrope', 40px, 800, 54px, #18191F);
            margin-bottom: 32px;
        }
        .headline__p{
            @include font('Manrope', 18px, 400, 32px, #18191F);
            margin-bottom: 32px;
        }
        .headline__getstarted{
            @include font('Manrope', 20px, 700, 30px, #8C30F5);
        }
        .headline__getstarted:hover{
            opacity: 0.8;
            transition: .2s ease-in;
        }
        .headline__getstarted::after{
            content: url('/img/arrow.svg');
            margin-left: 10px;
        }
    }
}
//enterTheWorld
.enterTheWorld{
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 64px;

    .enterTheWorld__h3{
        @include font('Manrope', 40px, 800, 54px,#18191F );
        max-width: 540px;
        margin-bottom: 48px;
    }   
    .enterTheWorld__paragraph{
        @include font('Manrope', 18px, 400, 32px, #18191F );
        max-width: 540px;
        margin-bottom: 48px;
    }
    .enterTheWorld__backgrnd{
        width: 1110px;
        height: 400px;
        background-image: url('/img/Cover\ Image.png');
        background-size: cover;
        background-position: center;
    }
}
//Manage
.Manage{
    max-width: 100%;
    background-image: url(../img/ManageBack.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .Manage__box{
        max-width: 540px;
        
        .Manage__title{
            @include font('Manrope', 48px, 800, 64px,#18191F );
            padding-top: 68px;
        }
        .Manage__paragraph{
            @include font('Manrope', 18px, 400, 32px, #18191F );
            margin-bottom: 48px;
        }
        .Manage__App{
            @include font('Manrope', 18px, 500, 28px, #18191F );
            margin-bottom: 8px;
        }
        .Manage__buttonsApp{
            padding-bottom: 68px;
            img:first-child{
                margin-right: 10px;
            }
            a:hover{
                opacity: 0.8;
                transition: .2s ease-in;
            }
        }

    }
}
//footer
footer{
    background-color: #0B0D17;
    max-width: 100%;
    padding-top: 56px;

    .container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .footer__infoBox{
            .footer__logo{
                // margin-top: 56px;
                margin-bottom: 24px;
            }
            .footer__list1{
                display: flex;
                flex-flow: row wrap;
                margin-bottom: 12px;
                li{
                    a{
            @include font('Manrope', 16px, 400, 26px, #FFFFFF);
                        
                    }
                    a:first-child{
                        margin-right: 24px;
                    }
                    
                }
                li:hover{
                    opacity: 0.8;
                    transition: .2s ease-in;
                }
            }
            .footer__list2{
                display: flex;
                flex-flow: row wrap;
                margin-bottom: 24px;
                li{
                    a{
                        @include font('Manrope', 16px, 400, 26px, #FFFFFF);  
                        margin-right: 24px;
                    }
                    // a:nth-child(2){
                    //     margin-right: 0;
                    // }
                }
                li:hover{
                    opacity: 0.8;
                    transition: .2s ease-in;
                }
            }
            .footer__reserved{
                @include font('Manrope', 14px, 400, 24px, #D9DBE1);
                margin-bottom: 56px;
            }
        }
        .footer__appBox{
            display: flex;
            flex-flow: column nowrap;
            .footer__getTheApp{
                @include font('Manrope', 18px, 500, 28px, #D9DBE1);
                margin-bottom: 16px;
            }
            img[alt="appStore"]{
                margin-bottom: 16px;
            }
            img{
                cursor: pointer;
            }
            img:hover{
                opacity: 0.8;
                transition: .2s ease-in;
            }
        }
    }


}
@media screen and (min-width: 320px) and (max-width: 425px){
    header{
        padding-left: 5px;
        padding-right: 5px;
        .container{
            nav{
                .nav__navbar{
                    .nav__list{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    .nav__mobileApp{
                        display: none;
                    }
                }
            }
            main{
                section{
                    .main__leftBox{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        h1{
                            font-size: 2.1em;
                        }
                        .main__button{
                            margin-top: 0;
                        }
                    }
                    .main__mobile{
                        margin-bottom: 0;
                    }
                }
                .main__navComp{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 5%;
                    padding-top: 5%;
                    margin-bottom: 0;
                    li{
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    // realStories
    .realStories{
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 5%;
        margin-bottom: 0;
        width: 100%;
        .container2{
            display: flex;
            flex-direction: column;
            align-items: center;
            .realStories__box1{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 5%;
                .realStories__h1{
                    font-size: 2.1em;
                    margin-right: 0;
                    margin-top: 0;
                    padding-right: 0;

                }
            }
            .realStories__airbnb{
                margin-top: 0;
                width: 90%;
                // padding-bottom: 5%;
                margin-bottom: 5%;
            }
            .realStories__hubspot{
                width: 90%;
                margin: 0;
                // padding-bottom: 5%;
                margin-bottom: 5%;
                .realStories__content{
                    margin-left: 35px;
                }
            }
            .realStories__bookmyshow{
                width: 90%;
                margin: 0;
                // padding-bottom: 5%;
                margin-bottom: 5%;
            }
        }
    }
    // tailorMade
    .tailorMade{
        width: 100%;
        padding-right:5px;
        padding-left: 5px;
        margin-bottom: 0;
        .container3{
            // width: 100%;
            .tailorMade__h1{
                font-size: 3em;
            }
            .tailorMade__p{
                font-size: 1em;
            }
            .tailorMade__box{
                margin-bottom: 5%;
                margin-right: 0;
            }
        }
    }
    // ourYears
    .ourYears{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 0;
        .ourYears__box1{
            margin-bottom: 5%;
            
            h2{
                font-size: 2.5em;
            }
        }
        .ourYears__box2{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 5%;
        }
    }
    //headline
    .headline{
        display: flex;
        flex-direction: column;
        align-content: center;
        .headline__img{
            max-width: 100%;
            margin-bottom: 5%;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .headline__info{
            padding-right: 5px;
            padding-left: 5px;
        }
    }
}