@mixin font($font-family, $font-size, $font-weight, $line-height, $color) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $color;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h1 {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.container2 {
    max-width: 920px;
    margin: 0 auto;
}
.container3{
    max-width: 1095px;
    margin: 0 auto;
}
//header
header {
    width: 100%;
    height: 100%;
    background-image: url(/img/Background.jpg);
    background-size: contain;
    background-position: 50% -5%;
    background-repeat: no-repeat;

    nav {
        padding-top: 16px;
        margin-bottom: 100px;

        .nav__navbar {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: flex-end;
            height: 40px;

            .nav__list {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                width: 570px;

                li {

                    a {
                        @include font('Manrope', 14px, 700, 20px, #18191F);
                    }
                }
            }

            .nav__mobileApp {
                a:nth-child(2) {
                    margin-left: 12px;
                }

            }
        }
    }

    main {


        section {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            .main__leftBox {
                h1 {
                    @include font('Manrope', 72px, 800, 98px, #18191F);
                }

                .main__button {
                    @include font('Manrope', 20px, 700, 30px, #FFFFFF);
                    background-color: #8C30F5;
                    border: none;
                    padding: 16px 41px;
                    border-radius: 10px;
                    margin-top: 32px;
                }
            }

            .main__mobile {
                width: 320px;
                height: 640px;
                background: url('/img/Phone Mockup.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                margin-bottom: 50px;
            }
        }

        .main__navComp {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            max-width: 890px;
            margin: 0 auto;
            margin-bottom: 20px;
            padding: 42px 0;
            border-top: 1px solid rgba($color: #abc2e4, $alpha: 0.4);
            border-bottom: 1px solid rgba($color: #abc2e4, $alpha: 0.4);

        }
    }
}

//realStories
.realStories {
    background-color: #D5FAFC;
    width: 100%;
    padding-bottom: 78px;

    .container2 {
        display: flex;
        flex-flow: row wrap;


        .realStories__box1 {
            order: 1;

            .realStories__h1 {
                @include font('Manrope', 48px, 800, 64px, #18191F);
                margin-top: 113px;
                padding-right: 40px;
                margin-right: 29px;
            }

            .realStories__p {
                @include font('Manrope', 18px, 400, 32px, #18191F);
            }
        }

        .realStories__hubspot {
            max-width: 350px;
            background-color: #fff;
            border-radius: 7px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            order: 3;
            margin-right: 30px;
            margin-left: 93px;
            margin-top: -250px;
            height: 470px;

            img {
                margin-left: 32px;
                margin-top: 32px;
                margin-bottom: 37px;
            }

            .realStories__content {
                max-width: 254px;
                margin-right: 32px;
                margin-left: 64px;
                position: relative;

                .realStories__paragraph {
                    margin-bottom: 35px;
                    @include font('Manrope', 18px, 400, 32px, #18191F);
                    
                }

                .realStories__paragraph::before {
                    content: url('/img/Page 1.svg');
                    position: absolute;
                    left: -28px;
                }

                h6 {
                    @include font('Manrope', 18px, 800, 28px, #18191F);
                }

                .realStories__p {
                    @include font('Manrope', 14px, 400, 24px, #969BAB);
                    // padding-bottom: 35px;
                }
            }


        }

        .realStories__airbnb {
            max-width: 445px;
            background-color: #fff;
            border-radius: 7px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            order: 2;
            margin-top: 164px;
            margin-bottom: 40px;

            img {
                margin-left: 32px;
                margin-top: 32px;
                margin-bottom: 37px;
            }

            .realStories__content {
                max-width: 350px;
                margin-right: 32px;
                margin-left: 64px;
                position: relative;

                .realStories__paragraph {
                    @include font('Manrope', 18px, 400, 32px, #18191F);
                    margin-bottom: 35px;
                }
                .realStories__paragraph::before {
                    content: url('/img/Page 1.svg');
                    position: absolute;
                    left: -28px;
                }

                h6 {
                    @include font('Manrope', 18px, 800, 28px, #18191F);
                }

                .realStories__p {
                    @include font('Manrope', 14px, 400, 24px, #969BAB);
                    padding-bottom: 35px;
                }
            }
        }

        .realStories__bookmyshow {
            max-width: 350px;
            background-color: #fff;
            border-radius: 7px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            order: 4;

            img {
                margin-left: 32px;
                margin-top: 32px;
                margin-bottom: 37px;
            }

            .realStories__content {
                max-width: 254px;
                margin-right: 32px;
                margin-left: 64px;
                position: relative;

                .realStories__paragraph {
                    margin-bottom: 35px;
                    @include font('Manrope', 18px, 400, 32px, #18191F);
                }
                .realStories__paragraph::before {
                    content: url('/img/Page 1.svg');
                    position: absolute;
                    left: -28px;
                }

                h6 {
                    @include font('Manrope', 18px, 800, 28px, #18191F);
                }

                .realStories__p {
                    @include font('Manrope', 14px, 400, 24px, #969BAB);
                    padding-bottom: 35px;
                }
            }
        }
    }
}

//tailorMade
.tailorMade{
    .tailorMade__h1{
        @include font('Manrope', 48px, 800, 64px,#18191F );
    }
    .tailorMade__p{
        @include font('Manrope', 18px, 400, 32px,#18191F );
    }
    .tailorMade__boxes{
        display: flex;
        flex-flow: row wrap;
        .tailorMade__box{
            max-width: 340px;
        }
    }
}